*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}
p {
    font-family: cursive;
}

/*=============================HEADER===================*/
header{
	background: #000 ;
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 1000;
	font-family: 'Source Sans Pro', sans-serif;
	box-shadow: 2px 1px 5px #161616;
}
nav{
	display: flex;
	justify-content: center;
}
nav ul{
	list-style:none;
	float:left;
	text-decoration:none;
	display: flex;

}
nav ul a{
	display: block;
	font-size: 18px;
	padding:30px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
	
}

nav ul a:hover{ /*Para cuando al div se le pasa el raton pro encima, que se haga de otro color. */
	background: rgba(8,74,63,1.00);
	transition: 0.3s;
	
}
.img1{
	color: aliceblue;
	font-size: 2em;
	padding: 25px 1%;
	font-family: 'Caveat', cursive;
	background: rgba(8,74,63,1.00);
	border-radius: 0 0 50px 50px;
	animation: girar 3s infinite; /*Para invocar a la animacion.*/
}
@keyframes girar{ /*Asi es como se hacen las animaciones. */
	0%{
		transform: rotateY(0deg);
		background: blue;
	}
	50%{
		
		background: red;
	}
	100%{
		transform: rotateY(360deg);
		background: blue;
	}
}

/*========================Responsive ==================================*/
@media screen and (max-width: 450px){ /*Esto es para hacerlo responsive.*/
	.center_11{
		width: 90% !important;
	}
	.center_11 img{
		width: 150px !important;
		height: 150px!important;
	}
}
/*================================= Section 1================================*/
.s1{
	background: url(../img/claudio2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 1000px;
}
.black_1{
	background: rgba(0,0,0,0.8);
	height: 100%;
}
.black_F1{
	background: rgba(0,0,0,0.8);
	height: 100%;
	padding-top: 300px;
}
.center_1{
	display: flex;
	justify-content: center;
	text-align: center;
}
.center_11 img{
	border-radius: 50%;
	width: 15vw;
	height: 30vh;
}
.center_11{
	padding-top: 10%;
	padding-bottom: 5%;
	width: 30%;
	background:rgba(255,255,255,0.5);
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 0 0 50px 50px;
}
.center_11 h3{
	margin-top: 20px;
}
.center_11 h2{
	color: rgba(8,74,63,1.00);
	font-size: 3em;
}
.center_11 p{
	padding: 4%;
	font-size: 18px;
	color:#fff;
}
.center_11:hover{
	background: #050202;
}
/*====================================Formacion==================================*/
.caja1{
	width: 80%;
	outline: #24B430 1px solid;
	color: white;
}	
.centerF1{
	display: flex;
	justify-content: center;
}

.hab1{
	background: #506198;
	animation: rellenar 5s infinite;
}
span{
	float: right;
}
.skillbar-title{
	animation: rellenar 5s infinite;

}
.studioF1{
	background: url(../img/claudio2.jpg) !important;
	background-attachment: fixed !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.black_studioF1{
	background: rgba(0,0,0,0.8);
	height: 100%;
}

@keyframes rellenar{
	0%{
		width: 0%;
		min-width: 110px;
	}
	50%{
		width: 90%;	
	}
	60%{
		width: 90%;	
	}
	70%{
		width: 90%;	
	}
	100%{
		width: 0%;
		min-width: 110px;
	}
}
section#habilidad {
    height: 550px;
}
section#habilidad1 {
    height: 450px;
}

/*-----------------------tri----------------------------------------*/
.tri {
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 70px solid #f2f2f2;
	border-right:  48vw solid transparent;
	border-left:  48vw solid  transparent;
}
.tri-1 {
	position:absolute;
	bottom: 0px;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-bottom: 70px solid #f2f2f2;
	border-right:  48vw solid transparent;
	border-left:  48vw solid  transparent;
}
/*-----------------------Habilidades---------------------------------------*/

.black_studio{
	background: rgba(0,0,0,0.4);
	height: 100%;
}
.center_studio{
	color:aliceblue;
	padding-bottom: 15%;
	padding-top: 5%;
}
.t2{
	text-align: center;
	font-family: cursive;
	font-size: 2em;
}
.cont_stu{
	display: flex;
	justify-content: center;
	text-align: center;
}
.cont_stu article{
	width: 40%;
	font-family: arial;
}
@media screen and (max-width: 450px){
	.cont_stu{
		display: flex;
		flex-wrap: wrap;
	}
	.cont_stu article{
		width: 100%!important;
	}
	.separador{
		border-left: none!important;
		margin-left: 0!important;
		padding-left: 0!important;
	}
	
}
.separador{
	border-left: #fff solid 1px;
	margin-left: 20px;
	padding-left: 20px;
}

/*============================= Section2 ====================================*/
.s2{
	padding: 10%;
}
/*============================= Section 3 ===================================*/
.s3{
	background: url(../img/claudio1.jpg) 100% ;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.center_3{
	display: flex;
	justify-content: center;
}
.center_3 article{
	width: 50%;
}
.img2{
	width: 350px;
	height: 250px;
}
.txt{
	color: white;
	padding: 5%;
	text-align: center;
}
/*==========================================FOOTER======================================*/

a:-webkit-any-link{
	color: #FFFFFF;
	text-decoration: none; 
}
.icono{
	height: 1%;
	width: 1%;
}
.icono img{
	height: 50px;
	width: 50%px;
}

/*==================================SECCION 5(Solo para Contactame):=======================*/
.center_12{
	padding-top: 10%;
	padding-bottom: 25%;
	width: 65%;
	background:rgba(255,255,255,0.5);
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 0 0 50px 50px;
}
.s5{
    background: #333333;
}

input, textarea{
	color: black;
	
    background: transparent;
    font-family: 'Baloo Paaji', cursive;
    width:100%;
    margin-bottom:20px;
    padding:10px;
    box-sizing:border-box;
    font-size:20px;
    border:none;
    border-bottom: #636363 solid 5px;
}

.form textarea{
    height: 150px;
}
#boton{
    font-size: 1em;
    color: aliceblue;
    background: #000;
    padding: 20px;
    cursor: pointer;
    border: solid #fff 1px;

}
/*==============================================Contactame=================*/

#h1 {
    font-family: cursive; 
	color: black;
	font-size: 40px;
}
.s1Cont{
	background: url(../img/claudio2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}
.black_1Cont{
	background: rgba(0,0,0,0.8);
	height: 100%;
}
.center_1Cont{
	display: flex;
	justify-content: center;
	text-align: center;
}
.center_12Cont{
	padding-top: 10%;
	padding-bottom: 25%;
	width: 65%;
	background:rgba(255,255,255,0.5);
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 0 0 50px 50px;
	margin-bottom: 30px;
}
#boton{
	width: 1000px;
	
}

/*======================conoceme=================*/
.s1Co{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index:-1;
}
#center2Conoceme{
	font-family: cursive;
	font-size: 20px;
	color: white !important;
	padding-bottom: 130px;
	text-align: center;
}
.s3Co{
	padding-bottom: 70px;
	background: url(../img/claudio1.jpg) 100% ;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.img2{
	margin-top: 30px;
}
article.txt {
    font-size: 20px;
    font-family: cursive;
}

