*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}
.footer{
	width: 100%;
	background: #000000;
}
.center_footer{
	display: flex;
	justify-content: center;
	padding: 2% 0;
}
.center_footer article{
	width: 25%;
	border-bottom: #fff solid 2px;
	color: #FFFFFF;
	padding: 20px;
	line-height: 2;
	font-size: 18px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
}
.mrg a{
	text-decoration: none;
	color: #fff;
}
.mrg{
	margin: 0 2%;
}
.mrg img{
	width: 80px;
	height: 80px;
	border: #fff solid 2px;
}
.line_ani{
	background:#fff;
	width: 100%;
	height: 2px;
	margin: 0 auto;
	animation: linea 3s infinite;
}
@keyframes linea{
	0%{width: 0%;}
	50%{width: 70%;}
	100%{width: 0%;}
}
