*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}
.proj{
	background:url(../img/claudio2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.black_pro{
	background: rgba(0,0,0,0.7);
}
.cajaPro h2{
	text-align: center;
	color: #fff;
	font-family: 'Yantramanav', sans-serif;
	padding: 20px 0;
}
.caja1Pro{
	display: flex;
	justify-content: center;
}
.caja1Pro div{
	width: 30%;
	padding: 2%;
}
.texto{
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 18px;
	background: transparent;
	color: #fff;
	transition-duration: 0.8s;
}
.imagen{
	background:#C7C7C7;
}
.imagen img{
	width: 100%;
	height: 100%;
}
.texto:hover{
	background:#C7C7C7;
	color: #2E2E2E;
	transition-duration: 0.5s;
}
#Pro1{
	padding-top: 90px;
}